@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredoka+One&family=Great+Vibes&display=swap');


*, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Acme', sans-serif;
   overflow-x: hidden;
   background-color: #6e86;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-weight: 500;
}
h1 {
   font-size: 4rem;
}


/*** Navigation Bar ***/
.navbar {
  	font-size: 1.1em;
}
.navbar-nav li a {
   font-size: 1.2em;
   margin-right: 1.5em;
   color: #d1d0ce;
   text-align: center;
   z-index: 1;
}
.navbar-nav li a:after {    
  	background: none repeat scroll 0 0 transparent;
  	content: "";
  	display: block;
  	height: 2px;
  	left: 0;
  	background: #fff;
  	width: 0;
  	transform: scaleX(0);
  	transition: .25s linear;
}
.navbar-nav li a:hover:after, .navbar-nav li a:focus:after { 
  	width: 100%; 
  	transition: 0.4s ease all;
  	/*visibility: visible;*/
  	transform: scaleX(1.2); 
}
.navbar-brand img {
	width: 60%;
}
.search-container form {
	display: flex;
}
.search-container button {
	border-radius: 9px;
	border: none;
	cursor: pointer;
}
.search-container button:hover {
	background-color: #d5f3f6;
}
/*** End of Navigation Bar ***/


/*** Bonus Text ***/
.bonus h3 {
	font-weight: bold;
	font-size: 1.1rem;
	margin: 15px auto 
}
/*** End of Bonus Text ***/


/*** Hero Section ***/
#hero {
   background: url("VeraZikky-Closet/site/images/jordan-dark.JPG") no-repeat center center fixed;
   display: table;
   height: 70vh;
   width: 100%;
}
.hero-items {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
}
.hero-items .fashion-b {
	font-family: 'Great Vibes', cursive;
	color: silver;
}
.hero-items .qoute {
	font-family: 'Fredoka One', cursive;
}
.intro {
	color: silver;
}
/*** End of Hero Section ***/


/*** Gender Selection ***/
.container .gender button {
	border-radius: 30px;
	font-size: 1.5rem;
}
/*** End of Gender Selection ***/


/*** Scroll to the top button ***/
#myBtn {
  /*display: none;*/
  position: fixed;
  bottom: 3vh;
  right: 2vw;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
}
/*** End of Scroll to the top button ***/


/*** MEDIA QUERIES ***/
/*Extra small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Small devices [sm] (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*Medium devices [md] (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*Large devices [lg] (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*Extra large devices [xl] (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }